version: '3.8'

services:
  db:
    image: pgvector/pgvector:pg15
    container_name: recsys_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5435:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  mlflow:
    build: .
    container_name: recsys_mlflow
    command: mlflow server --backend-store-uri postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB} --default-artifact-root /mlruns --host 0.0.0.0 --port 5000
    ports:
      - "5005:5000"
    environment:
      MLFLOW_TRACKING_URI: http://localhost:5000
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./mlruns:/mlruns

  api:
    build: .
    container_name: recsys_api
    command: uvicorn api.app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8001:8000"
    volumes:
      - .:/app
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      MLFLOW_TRACKING_URI: http://mlflow:5000
    depends_on:
      - db
      - mlflow

  metabase:
    image: metabase/metabase:latest
    container_name: recsys_metabase
    ports:
      - "3001:3000"
    volumes:
      - metabase_data:/metabase-data
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: ${POSTGRES_DB}
      MB_DB_PORT: 5432
      MB_DB_USER: ${POSTGRES_USER}
      MB_DB_PASS: ${POSTGRES_PASSWORD}
      MB_DB_HOST: db

  dashboard:
    build: .
    container_name: recsys_dashboard
    command: streamlit run dashboard/app.py --server.port 8501 --server.address 0.0.0.0
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api

volumes:
  postgres_data:
  metabase_data:
